body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    text-align: center;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button{
    
    border-radius: 10px;
    background-color: #ffff;
    height: 40px;
    padding: 10px;
    font-size: medium;
}
button:hover{
    background-color: grey;
}